.company {
    padding: 80px 0 80px;
}

.company__header {
    text-align: center;
}

.company__header-title{
    color: #140626;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.company__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.company__logo-img {
    flex-shrink: 0;
}
@media (max-width: 1024px) {
    .company__logo-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3,1fr);
    }
    .company__logo {
        display: flex;
        margin: auto;
    }
}
@media (max-width: 560px) {
    .company__header {
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .company__logo-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 320px) {
    .company__logo-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1,1fr);
    }
}